{% extends "base.html" %}

{% block content %} 
        <div>
            <table>
                <thead>
                    <tr>
                        <th>申请人</th>
                        <th>加班开始时间</th>
                        <th>加班结束时间</th>
                        <th>加班单状态</th>
                        <th>查看详情</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for overtimeform in applyFormList %}
                    <tr>
                        <td>{{ overtimeform.applyer }}</td>
                        <td>{{ overtimeform.begintime|date:'Y年m月d日 H:i' }}</td>
                        <td>{{ overtimeform.endtime|date:'Y年m月d日 H:i' }}</td>
                        <td>{{ overtimeform.status }}</td>
                        <td><a href="{% url ot_overtime_detail overtimeform.id %}">详情</a></td>
                        <td>
                            {% if perms.ot.depart_confirm_overtimeform %}
                                {% ifequal overtimeform.status 'NEW' %}
                                    <a href="{% url ot_apply overtimeform.id %}">确认</a>
                                {% endifequal %}
                            {% endif %}
                            {% if perms.ot.hr_audit_overtimeform %}
                                {% ifequal overtimeform.status 'APPLY' %}
                                    <a href="{% url ot_apply overtimeform.id %}">审核</a>
                                {% endifequal %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
