{% extends "base.html" %}

{% block content %} 
        <div class="box post">
            <ul>
                {% for overtimeform in applyFormList %}
                    <li>
                        {{ overtimeform.begintime }}
                        {{ overtimeform.endtime }}
                        {{ overtimeform.reason }}
                        {{ overtimeform.applyer }}
                        {{ overtimeform.status }}
                        <a href="{% url ot_apply overtimeform.id %}">审核</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
