{% extends "base.html" %}

{% block content %} 
        <div class="box post">

                开始时间：{{overtimeform.begintime}}<br/>
                结束时间：{{overtimeform.endtime}}<br/>
                加班原因：{{overtimeform.reason}}<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;加班人：
                {% for employee in employees %}
                    {{employee.username}}&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：{{overtimeform.status}}<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;申请人：{{overtimeform.applyer.username}}<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：{{overtimeform.remark}}<br/>
            <form action="" method="post">
                {% csrf_token %}
                {{ applyform.as_p }}
                <p>
                    <input type="submit" class="submit" value="提交" />
                </p>
            </form>
        </div>
{% endblock %}
