<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Jinjiang Overtime Management System</title>
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/screen.css" type="text/css"
          media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/RMSforms-v0.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}SexyButtons/sexybuttons.css" type="text/css" media="screen">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/plugins/fancy-type/screen.css" type="text/css"
          media="screen, projection">
    <link type="text/css" href="{{ STATIC_URL }}jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui-1.8.23.custom.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}My97DatePicker/WdatePicker.js"></script>

</head>

<body>
<div class="container">
{% if request.user.is_authenticated %}
欢迎你，{{ request.user.username }}。<a href="{% url logout %}">修改密码</a> <a href="{% url logout %}">退出</a>
{% endif %}
    <h1 align="center">锦江电商加班管理系统</h1>
    <hr>
    <div class="span-3 colborder" style="font-size: 14px;">
        <ul>
            {% if perms.ot.add_overtime %}
                <li><a href="{% url ot_new %}">申请加班</a></li><br>
            {% endif %}
            <li><a href="{% url ot_applyFormList %}">部门确认</a></li><br>
            {% if perms.ot.hr_audit_overtimeform %}
                <li><a href="{% url ot_auditFormList %}">人事审批</a></li><br>
            {% endif %}
            <li>加班查询</li><br>
            <li><a href="{% url ot_stat %}">加班统计</a></li><br>
        </ul>

    </div>
    <div class="span-20 last">
        {% block content %}
        {% endblock %}
	<p>
	    <a href="http://djangoproject.com/">Django</a><br/>
	</p>
    </div>
</div>

</body>

</html>


