<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Jinjiang Overtime Management System</title>
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/screen.css" type="text/css"
          media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/plugins/fancy-type/screen.css" type="text/css"
          media="screen, projection">
    <link type="text/css" href="{{ STATIC_URL }}jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui-1.8.23.custom.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}My97DatePicker/WdatePicker.js"></script>

</head>

<body>
<div class="container">
    <h1>A simple sample page</h1>
    <hr>
    <h2 class="alt">This sample page demonstrates a tiny fraction of what you get with Blueprint.</h2>
    <hr>
    <div class="span-3 colborder">
        <h6>目录</h6>
        <ul>
            <li><a href="{% url ot_new %}">申请加班</a></li>
            {% if perms.ot.show_overtimeform %}
                <li><a href="{% url ot_applyFormList %}">部门审批</a></li>
            {% endif %}
            <li>人事审批</li>
            <li>加班查询</li>
            <li>加班统计</li>
            <li>加班确认</li>
        </ul>

    </div>
    <div class="span-20 last">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="foot">
    <a href="http://djangoproject.com/">Django</a><br/>
    <a href="accounts/logout/">Logout</a>
</div>
</body>

</html>


