{% extends "base.html" %}

{% block content %}
<div>
	<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="status" value="NEW" />
		<input type="hidden" name="apper" value="{{model.id}}" />
		<fieldset>
			<legend>
				加班申请单
			</legend>
			<ul class="form">
				<li>
					<label>开始时间：</label>
					{{ form.begintime }}
				</li>
				<li>
					<label>结束时间：</label>
					{{ form.endtime }}
				</li>
				<li>
					<label>加班原因：</label>
					{{ form.reason }}
				</li>
				<li>
					<label>加班人：</label>
					{% for employee in employees %}
					<input type="checkbox" name="employee" value="{{employee.id}}">
					{{ employee.username }}
					{% endfor %}
				</li>
				<li>
					<label>备注：</label>
					{{ form.remark }}
				</li>
				<li>
					<input type="submit" class="submit" value="提交"/>
				</li>
			</ul>
		</fieldset>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#id_begintime,#id_endtime').click(initDatePicker).attr('readonly', 'readonly');
	})
	function initDatePicker() {
		WdatePicker({
			dateFmt : 'yyyy-MM-dd HH:mm'
		});
	}
</script>

{% endblock %}
