{% extends "base.html" %}

{% block content %}
    <div class="box post">
        <h2>新增</h2>

        <form action="" method="post">
            {% csrf_token %}
            {% if perms.auth.add_user %}
                has add user perm
            {% endif %}
            {% if perms.ot.show_apply_track %}
                has show apply track perm
            {% endif %}
            {{ user.username }}开始时间：{{ form.begintime }}<br/>
            结束时间：{{ form.endtime }}<br/>
            加班原因：{{ form.reason }}<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;加班人：
            {% for employee in employees %}
                <input type="checkbox" name="employee" value="{{employee.id}}">{{ employee.username }}
            {% endfor %}
            <br/>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：{{ form.remark }}
            <input name="status" value="NEW" style="display: none;"/>
            <input name="applyer" value="{{model.id}}" style="display: none;"/>
            <p>
                <input type="submit" class="submit" value="提交"/>
            </p>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_begintime,#id_endtime').click(initDatePicker).attr('readonly', 'readonly');
        })

        function initDatePicker() {
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
        }
    </script>

{% endblock %}
