{% extends "base.html" %}

{% block content %}
    <div class="box post">
        <table>
            <tr align="right">
                <td style="text-align: right;">开始时间：</td><td>{{ overtimeform.begintime|date:'Y年m月d日 H:i'  }}</td>
            </tr>
            <tr>
                <td style="text-align: right;">结束时间：</td><td>{{ overtimeform.endtime|date:'Y年m月d日 H:i'  }}</td>
            </tr>
            <tr>
                <td style="text-align: right;">加班原因：</td><td>{{ overtimeform.reason }}</td>
            </tr>
            <tr>
                <td style="text-align: right;">加班人：</td>
                <td>
                    {% for employee in employees %}
                        {{ employee.username }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">状态：</td><td>{{ overtimeform.status }}</td>
            </tr>
            <tr>
                <td style="text-align: right;">申请人：</td><td>{{ overtimeform.applyer.username }}</td>
            </tr>
            <tr>
                <td style="text-align: right;">备注：</td><td>{{ overtimeform.remark }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
