{% extends "base.html" %}

{% block content %}
<div>
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>
				重置密码
			</legend>
			<ul class="form">
				<li>
					<label>原始密码：</label>
					<input type="text" name="oldPwd">
				</li>
				<li>
					<label>新密码：</label>
                    <input type="text" name="newPwd">
				</li>
				<li>
					<label>确认密码：</label>
                    <input type="text" name="confirmPwd">
				</li>
				<li>
					<input type="submit" class="submit" value="提交"/>
				</li>
			</ul>
		</fieldset>
	</form>
</div>
{% endblock %}
